.navBarSpace{
    width: 100%;
    height: 70px;
}

/* ================================================================Search Section========================================================== */
/* Wrapper to center the search bar on the page */
.searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #eef2f5; /* Soft light background */
  }
  
  /* Container for the search input and button */
  .searchContainer {
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #ffffff; /* White background */
    border-radius: 2px; /* Rounded edges */
border-bottom: solid 1px #d1d1d1;

    max-width: 600px; /* Max width for the search container */
    width: 100%; /* Full width up to max */
    margin-top: 15px;
}
.resultCount {
  padding: 10px 15px;
    text-align: center;
    width: auto;
    font-size: 14px;
    letter-spacing: 1px;
    color: #555;
}

.textLoading{
  padding: 15px;
  text-align: center;
  width: 100%;
  font-size: 14px;
   
}
  
  /* Search Input Field */
  .searchInput {
    flex: 1; /* Input takes up remaining space */
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 16px; /* Base font size */
  
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  /* Focus effect for input */
  .searchInput:focus {
    background-color: #e9ecef; /* Darken background when focused */
  }
  
  /* Search Button */
  .searchButton {
    background-color: #ffffff; /* Bright blue color */
    color: rgb(55, 55, 255);
    border: none;
    padding: 11px 20px;

    font-size: 16px; /* Base font size */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover */
  }
  
  .searchButton:hover{
   color: blue;
  }
  /* Hover effect for button */
  .searchButton:active {
    color: #ffffff;
    background-color: #dcbc3f; /* Darker blue on hover */
   
  }
  

  .headerContainer{
  
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    @media screen and (max-width:1000px) {
      width: 100%;
      display: unset;
    flex-direction: unset;
    }
  }

  .SearchPageMainContainer{
    min-height: 100vh;
  }


  .price {
    color: #6B0100;
    display: flex;
    justify-content: center;
    gap: 7px;
  }
  .price span{
    text-decoration: none;
  }
  .price span.regular{
    font-size: 16px;
    color:#6B0100;
    text-decoration: line-through;
  }
  
/* ==================================================================Media Query============================================================= */

@media screen and (min-width: 650px) and (max-width: 1000px) {
    .navBarSpace{
        height: 62px;
    }
}


@media screen and (max-width: 650px) {
    .navBarSpace{
        height: 62px;
    }
    .searchContainer{
             padding: 0 10px;
    }
}