MAGENTO_GRAPHQL_URL=https://magento.test/graphql
MAGENTO_BASE_URL=https://magento.test
NEXT_PUBLIC_STORE=default
NEXT_PUBLIC_LOCALE=en
NEXT_PUBLIC_CURRENCY=USD
CHECKOUT_STRATEGY=native-magento
COMMERCE_FEATURES=os
REVALIDATE_SECRET=change-me-16-chars
HEADORA_PRESET=fashion
