/* Footer.module.css */
.footer {
  width: 100%;
  margin: auto;
  max-width: 1440px;
  margin-top: 50px;
  padding: 0 60px 0 60px;
  background-color: white;
  margin-bottom: 50px;
  @media (max-width: 1000px) {
    padding: 0 20px 0 20px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
  padding-top: 32px;
  border-top: 1px solid #eee;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: span 2 / span 2;
}
.expand {
  grid-column: span 3 / span 3;
}

.column span {

  color: rgb(17 24 39 / 1);
  font-weight: 600;
}
.footerDescription{
  line-height: 1.5;
  color: #666;
}

.column a {
  color: #666;
  text-decoration: none;
 
}

.column a:hover {
  color: #333;
}

.socialLinks {
  display: flex;
  gap: 1rem;
 
}

.subscribeForm {
  display: flex;
  min-height:36px ;
  align-items: center;
}

.subscribeInput {
  height: 100%;
  min-width: 50px;
  border: 2px solid rgb(17 24 39 / 1);
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  font-family: var(--Muli);
}

.subscribeButton {
  padding: 0 10px;
  background-color: white;
  border: 2px solid rgb(17 24 39 / 1);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  border-left: none;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}



.bottomSection {
  max-width: 1440px;
  margin: 2rem auto 0;
  padding-top: 2rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.copyright {
  color: #666;
  font-size: 0.875rem;
}

.legalLinks {
  display: flex;
  gap: 1rem;
}

.legalLinks a {
  color: #666;
  text-decoration: none;
}

.legalLinks a:hover {
  color: #333;
}
.footerLogo{
  font-size: 22px;
  font-weight: 600;
}
@media (max-width: 1000px) {


  .bottomSection {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: span 4 / span 4;
  }
  .expand {
    grid-column: span 12 / span 12;
  }
  .legalLinks {
    margin-top: 1rem;
  }
}