.compareNotification {
  background: #f0f9f0;
  border-left: 4px solid #27ae60;
  color: #2c3e50;
  padding: 14px 20px;
  margin: 15px 0;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.compareNotification a {
  color: #e67e22;
  text-decoration: underline;
  font-weight: 500;
}
.AdditionalButtonsBox{
  display: flex;
  gap: 10px;
  margin-top: 14px;
}
.wishwithcomparButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
text-transform: capitalize;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  background: unset;
}

.wishwithcomparButton:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}



.ShortDescriptionTabContent {
  display: flex;
  border-top: 1px solid #e5e5e5;
  justify-content: flex-start;
  gap: 10%;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  margin-top: 50px;

  @media screen and (max-width: 650px) {
 flex-direction: column;
  }

  @media screen and (min-width: 650px) and (max-width: 1000px) {
    flex-direction: column;
  }

}
.sectionHeading{
  font-weight: 600;
  font-size: 16px !important;
  color: #333;
  margin-bottom: 10px;
}


/* =================================Detail==================================== */



.navBarSpace {
  width: 100%;
  height: 80px;
}
.description_pannel_selector{
  margin: 40px 0px;
}
.detailContainer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
  /* padding: 14px; */
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0 60px 0 60px;
}

.brandReviewWrapper {

  color: #a29253;
  margin-bottom: 10px;
  font-weight: 600;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 900;

  @media screen and (max-width:1000px) {
    font-size: 14px;
  }
}

.reviewWrapper {
  display: flex;
  gap: 6px;
  cursor: pointer;
}

.reviewWrapper:hover {
  color: #D4A902
}

/* 
.breadcrumb {
  font-size: 14px;
}

.breadcrumb a {
  color: #777;
  text-decoration: none;


}
.breadcrumb a:hover{
  color: #000;
}
.breadcrumb span:hover{
  color: #000;
}

.breadcrumb span {
  text-transform: capitalize;
  color: #444444;
  padding: 0 10px ;
  border-right: black 1px solid;
  text-decoration: none;
} */

.cartegoryHeadeBreadcrumbs {
  padding-left: 0;
  width: 100%;
  margin: auto;
  /* padding-top: 20px; */
  padding-bottom: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  @media screen and (max-width: 1000px) {
    display: none;
    max-width: 100%;
    padding: 0 5px;
    gap: 5px;
  }


}

.cartegoryHeadeBreadcrumbs span {
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(16 24 39);
}

.cartegoryHeadeBreadcrumbs a {
  color: rgb(16 24 39);
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
    text-transform: capitalize;
  @media screen and (max-width: 650px) {
    font-size: 10px;

  }
}
.ProductDisplayName{
  color: #1979c3;;
  text-decoration: none;
  font-weight: 500;
  font-size: 10px;

  text-transform: capitalize;

  @media screen and (max-width: 650px) {
    font-size: 10px;

  }
}

.cartegoryHeadeBreadcrumbs a:hover {
  text-decoration: underline;
}

.productDetail {
  display: flex;
  gap: 10%;
  /* padding: 14px 0px; */
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    gap: 5px;
    padding: 0px;
  }
}

.productImages {
  width: 59%;
}

.mainImage {
  width: 100%;
  height: auto;
}


.sliderContainer {
  position: relative;
  width: 100%;
}

.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.thumbnailImages {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;

}

.thumbnailImages .activeThumbnail {
  opacity: 1;
  border: 2px solid #000;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



.navButton {
  background: none;
  color: #000000;
  border: none;

  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navButton:hover {
  background-color: rgba(236, 236, 236, 0.8);
}

.navButton:first-child {
  left: 10px;
}

.navButton:last-child {
  right: 10px;
}

.priceTitleWrapper {
  flex-direction: row;
  display: flex;
  gap: 14px;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 14px;
  border-bottom: #bdbdbd 1px solid;

  @media screen and (max-width:1000px) {
    padding-bottom: 10px;
  }
}

.subTitelWrapper {
  width: 100%;
font-size: 46px;
  @media screen and (max-width:1000px) {
    width: 100%;
  }
}

.productInfo {
  width: 39%;
}

.paymentInfoWrapper {
  margin-top: 10px;
}

.productInfo h1,
.mobileViewProductTitle {
  font-size: 32px;

  font-weight: 600;
  line-height: 50px;

  @media screen and (max-width:1000px) {
    line-height: 22px;
    /* font-size: 16px; */
    margin-bottom: 0px;

    line-height: 30px;
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: 600;

  }
}

.sku {
  font-size: 14px;
  color: #999;

}

.price {
  font-size: 18px;
  /* font-weight: 400; */
  color: #111827;
  width: auto;
  text-align: right;
  display: flex;
  gap: 10px;
  align-items: center;

  @media screen and (max-width: 1000px) {
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
  }

  @media screen and (max-width: 650px) {
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 18px;
    margin-top: 14px;
  }
}

.price span {
  text-decoration: none;
  font-weight: 500;
  /* color: red; */
}

.price span.regular {
  font-size: 16px;
  color: #777;
  text-decoration: line-through;

  @media screen and (max-width: 1000px) {
    font-size: 14px;
  }
}

.mobilePriceDiscount {
  color: #666666e6;
  font-size: 14px;
}

.RelatedPrice {
  color: #1979c3;
  display: flex;
  justify-content: center;
  gap: 7px;
  padding: 5px;
  align-items: baseline;
}

.RelatedPrice span {
  text-decoration: none;
}

.RelatedPrice span.regular {
  font-size: 16px;
  color: #efc004;
  text-decoration: line-through;
}

.paymentInfo {
  font-size: 14px;
  color: #777;


  @media screen and (max-width:1000px) {
    display: none;
  }

}

.paymentInfo a {
  text-decoration: none;
  color: #000;
}

.actionButtons {
  margin: unset;
  display: flex;
  justify-content: center;
  padding-top: 14px;
}

/* Buy Now Button */
.buyNow {
  width: 100%;

  background-color: #333333;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: none;
  height: 40px;
  border: 1px solid #333333;
}

.buyNow:hover {
  background-color: unset;
  color: #333333;
}
.actionButtonsWrapper{
    width: 100%;
    padding-top: 14px;
}
.addToCart{
  padding: 0px 25px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  height: 40px;
  transition: all 0.3s ease;
}

.addToCart {
  padding: 0px 55px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;

  gap: 2px;
  color: #FFF;
  font-weight: 700;
}

.addToCartDisable,
.buyNowDisable {
  padding: 12px 25px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-right: 10px;

  min-height: 3rem;
}

.addToCartDisable {
  padding: 12px 55px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: #1979c3 solid 1px;
  background-color: #1979c3;
  gap: 2px;
  color: #FFF;
  opacity: 0.5;
}

/* .addToCartDisable,
.buyNowDisable,
.addToCart,
.buyNow {
  @media screen and (max-width: 1550px) {
    padding: 0px 14px;
  }


  @media screen and (max-width: 1350px) {
    padding: 0px 14px;
  }

  @media screen and (max-width: 1260px) {
    padding: 0px 10px;
  }

  @media screen and (max-width: 1250px) {
    padding: 0px 30px;
  }

  @media screen and (max-width: 1050px) {
    padding: 0px 14px;
  }

} */

.addToCartDisable img {
  width: 14px;
  height: auto;
}

.buyNowDisable {
  border: #1979c3 solid 1px;
  color: #1979c3;

}

.addToCart img {
  width: 17px;
  height: auto;
}

/* Add To Cart Default Styles */
.addToCart {
  border: #1979c3 solid 1px;
  background-color: #1979c3;
  color: #FFF;
  border-radius: 50px;
}

.addToCart:hover {
  border: #8a7d48 solid 1px;
  background-color: #8a7d48;
  color: #FFF;
}

/* Buy Now Default Styles */


.wishlist_container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  min-height: 48px;

  @media screen and (max-width:1000px) {
    margin-top: 10px;
  }
}

.wishlist_container img {
  width: 14px;
  height: 18px;
}

.wishlist {
  color: #1979c3;
  text-transform: uppercase;
  background: none;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;


}

.productFeatures {
  list-style: none;
  padding: 0;
  margin: 0px 0;
  display: flex;
  flex-direction: column;
  border-top: #bdbdbd 1px solid;
  padding-top: 14px;
  /* padding-bottom: 10px; */

  /* border-bottom: #bdbdbd 1px solid; */



  @media screen and (max-width: 650px) {
    flex-direction: column;
    padding-top: 14px;
    padding-bottom: 5px;
  }
}

.productFeatures li {
  font-size: 12px;
  margin-bottom: 10px;
  color: #777;
  text-transform: uppercase;
  display: flex;
  gap: 0px;
  align-items: center;

  @media screen and (max-width:1000px) {
    margin-bottom: 10px;
  }
}

.productFeatures li img {
  width: 16px;
  height: 14px;
  margin-right: 10px;
  filter: contrast(0%) brightness(60%);

}

.productFeatures li a {
  color: #777;
}

.productFeatures li a:hover {
  color: #1979c3
}

.additionalInfo {
  display: flex;
  gap: 30px;
  margin-top: 14px;
  border-bottom: #bdbdbd 1px solid;
  padding-bottom: 14px;

  @media screen and (max-width:1000px) {
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

.infoBlock {
  text-align: center;
}

.infoBlock img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.infoBlock p {
  font-size: 12px;
  color: #777;

}

.watchInfo {
  margin-top: 40px;
}

.watchInfo h2 {
  font-size: 18px;
  margin-bottom: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.watchInfo p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.6;
}

.watch-info p span {
  font-weight: bold;
}

.quantitySelector {
  display: flex;
  align-items: flex-start;
  margin-top: 14px;
  flex-direction: column;
  gap: 14px;
  font-size: 16px;
  font-weight: 600;

  @media screen and (max-width:1000px) {
    margin-top: 0px;
    gap: 10px;
    flex-direction: unset;
    align-items: baseline;
    padding-top: 14px;
  }
}

.disable {
  cursor: not-allowed !important;
  /*background:linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, #ffffff 43%, #ffffff 38%, #ff5216 47%, #ff5216 41%, #ffffff 50%, #ffffff 71%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 100%)!important
  */
  background-image: url('/Images/crossed_line.png') !important;
  /* text-decoration: line-through; */
  background-position: center !important;
  opacity: 0.8;
  background-repeat: no-repeat !important;
  background-size: 100% 5px !important;
}

.customQuantity {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 1px;


}

.decrementButton,
.incrementButton {
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  height: 36px;
  width: 40px;

  border: 1px solid #aaa;
}

.decrementButton:active {
  background-color: #dbdbdb;
}

.quantityInput {
 border-right: none;
 border-left: none;
  text-align: center;
  width: 64px;
  border-radius: 6px;
  height: 36px;
  font-size: 16px;
  background-color: unset;
  border: 1px solid #aaa;

}

.quantityInput:focus {
  outline: none;
}


.incrementButton:active {
  background-color: #dbdbdb;
}

.ConfigurableSelectorWrapper {
  padding-top: 14px;
  display: flex;
  gap: 14px;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 14px;
  border-bottom: #bdbdbd 1px solid;
}

.ConfigurableWrapper label {
  font-size: 16px;

  text-transform: capitalize;
  font-weight: 600;
}

.optionSelector {
  width: 100%;
  display: flex;
}

.optionSelector img {
  height: auto;
  border: 1px solid #ccc;
  cursor: pointer;
}

.optionSelector img.selected {
  border: 2px solid #D4A902
}

.colorSelector {
  display: flex;
  gap: 10px;
  flex: 2 1;
  align-items: center;
}

.sizeSelector {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.selectedValue {

  font-weight: 300;
  margin-top: 8px;
  font-size: 14px;
  color: rgb(17 24 39 /1)
}

.selectedValueError {

  font-weight: 300;
  margin-top: 8px;
  font-size: 12px;
  color: red
}

.ConfigurableWrapper button {

  font-size: 14px;
  border-radius: 2px;
  height: 3rem;
  width: 100%;
  background: unset;
  border: 1px solid #ccc;

  cursor: pointer;
}

.ConfigurableWrapper button:hover {
  box-shadow: rgba(0, 0, 0, 0.219)
}

/* .selected {

  /* You can add other styling here, like changing the background color */
/* }  */


.colorSelector button {

  font-size: 16px;
  border-radius: 2px;
  height: 3rem;
  min-width: 3rem;
  background: unset;
  border: 1px solid #ccc;
  margin-top: 5px;
  cursor: pointer;
  padding: 0 0.5rem;
  opacity: 0.5;
  /* Set opacity to 50% */
}

.colorSelector button:hover {

  opacity: 1;
  /* Increase opacity to full when hovered */
}

.colorSelector button.selected {

  opacity: 1;
  /* Set opacity to full for the selected button */
}

.optionSelector button.selected {
  border: 2px solid #D4A902;
  color: black;
}

/* Ensure the selected value below is well styled */
.selectedValue {

  font-weight: 300;
  margin-top: 8px;
  font-size: 14px;
  color: rgb(17, 24, 39 / 1);
}

.quantityActionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding-bottom: 14px;
  justify-content: space-between;

  @media screen and (max-width: 1250px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: 1000px) {
    gap: 10px;
    padding-bottom: 14px;
  }

}

/* Aligns quantity selector and "Shop Now" button */
.inlineActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 14px;
}

.shopNow {
  flex: 1;
  height: 44px;
  padding: 0 16px;

  background-color: rgb(41 84 255); /* strong CTA yellow */
  color: white;

  border: none;
  border-radius: 2px;
border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  cursor: pointer;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.25s ease;
  cursor: pointer;
  text-align: center;
  height: 36px;
}

.shopNow:hover {
  background-color: unset;
  background-color: rgb(0, 51, 255);
  transform: translateY(-1px);
}

/* Active – click feedback */
.shopNow:active {
  background-color: rgb(0, 51, 255);
  transform: translateY(0);
}

/* Focus – accessibility */
.shopNow:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 204, 0, 0.4);
}

/* Disabled (out of stock etc.) */
.shopNow:disabled {
  background-color: #0970be67;
  color: #777;
  cursor: not-allowed;
}

.shopNow:hover {
  background-color:  rgb(0, 51, 255);
  color: white;

}

/* ===============================Product Detail Nav Bar========================================= */
.navbarContainer {
  margin: 50px 0px;
  max-width: 1440px;
  padding: 0 14px;
  margin: auto;

  @media screen and (max-width:1000px) {

    padding: 0 10px;
  }
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  border-top: #bdbdbd 1px solid;
  gap: 10px;

}

.navItem {
  position: relative;
  padding: 14px 0px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  width: 68%;

  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.navItem2 {
  position: relative;
  padding: 14px 0px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;

  width: 30%;

  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.navItemHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navItem img {
  width: 16px;
  margin-right: 14px;
  height: auto;

  @media screen and (max-width:1000px) {
    margin-right: 10px;
  }
}

.activeUnderline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #D4A902;
  /* Yellow color */
}

.navItem.active .activeUnderline {
  width: 100%;
  /* Full width underline for the active item */
}

.navItem:hover .activeUnderline {
  width: 100%;
  /* Full width underline on hover */
  transition: width 0.3s ease;
}

/* ==========================Description============================ */


.productAttributes {
  /* display: flex; */
  flex-direction: row;
  /* margin: 10px 0px; */
  justify-content: flex-start;
  flex-wrap: wrap;
    filter: hue-rotate(175deg);
}

.productAttributes p {
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* width: 33%; */
  margin: 5px 0px;
  align-items: center;

  @media screen and (max-width: 1300px) {
    /* width: 50%; */
  }

}

.productAttributes p b {
  text-transform: capitalize;
}


.productDetailDescriptionContainer h2 {
  font-size: 22px;

  padding-bottom: 14px;
  padding: 14px 0 14px;
}

.productDetailDescriptionContainer ul {
  /* padding-left: 1.5rem; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.productDetailDescriptionContainer li {
  font-family: var(--Secondary);
}

.productDetailDescriptionContainer p,
.AuthenticityTabSubcontent {

  line-height: normal;
  font-size: 14px;
  color: #777;
  margin: 0;

  @media screen and (max-width: 650px) {
    font-size: 12px;
    line-height: 21px;
  }
}

.AuthenticityTabSubcontent {
  padding: 14px 0;
}

.AuthenticityTabSubcontent a {
  color: #1979c3;
}

.AuthenticityTabContent {
  font-family: var(--Secondary);
  color: #777;
}

.returnDescribtionConatiner {
  padding: 14px 0;
}

.returnDescribtionConatiner span a {
  color: #c1a661;
  font-family: var(--Secondary);
  font-weight: 600;
}

.productDetailDescriptionContainer {
  color: #777;
  padding: 14px 0;
  line-height: 26px;
  font-size: 14px;

  @media screen and (max-width: 650px) {
    line-height: 14px;
    font-size: 12px;
      padding: 0px;
  }
}

.productDetailDescriptionContainer p.readMore {
  text-align: right;
  color: #000;
}

.readMore:hover {
  text-decoration: underline;
}

.productDetailDescriptionContainer a {

  color: #D4A902;
}

.productDetailDescriptionContainer a:hover {
  text-decoration: underline;
}

.AuthenticityList {
  list-style: none;
  padding: 0;
  margin: 14px 0;
}

.AuthenticityListItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}
.productDetailNewDescriptionContainer{
  color: #777;
  /* padding-bottom: 14px; */
  line-height: 26px;
  font-size: 14px;
}

.productDetailNewDescriptionContainerDetails{
  color: #777;
  /* padding-bottom: 14px; */
  line-height: 26px;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.Label {
  width: 120px;
  font-weight: bold;
  color: #2e2e2e;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.Description {
  flex: 1;
  color: #666;
  line-height: 1.6;
}

.AuthenticityViewPromise {
  margin-top: 14px;
}

.AuthenticityViewPromise a {
  color: #c1a661;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
}

/* =========================Review Section========================== */
.ReviewContainer {
  max-width: 1440px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 60px 0 60px;
}

/* Slide-down fade-in animation */
@keyframes slideDownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-14px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Slide-up fade-out animation */
@keyframes slideUpFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-14px);
  }
}

.AddReviewButton {
  animation: slideDownFadeIn 0.6s ease forwards;
  opacity: 0;
  /* Initial hidden state */
  transform: translateY(-14px);
}

.AddReviewButton.hidden {
  animation: slideUpFadeOut 0.6s ease forwards;
}

.AddReviewButton p {
  font-size: 16px;
  color: #1dac00;
  margin-bottom: 10px;

  @media screen and (max-width:650px) {
    font-size: 14px;
  }
}

.AddReviewButton button {
  padding: 10px 30px;
  background: unset;
  border: 1px solid #D4A902;
  color: #D4A902;
  font-weight: 100;
}

.AddReviewButton button:hover {
  background: unset;
  cursor: pointer;
  color: #fff;
  background-color: #D4A902;
  ;
  border: 1px solid #D4A902;
  ;
}

.AddReviewButton button:active {
  background: #bd9803;
}

/* -----------------review_form----------------*/

.review_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding-top: 10px;
  animation: slideIn 1s ease forwards;
  opacity: 0;
  transform: translateY(14px);
}

.review_form.hidden {
  animation: slideOut 1s ease forwards;
}

/* Animation for sliding in the review form */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(14px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(14px);
  }
}

.review_form .field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.star_field {
  display: flex;

  @media screen and (max-width:650px) {
    flex-direction: column;
  }
}

.review_form .field .label {
  font-size: 16px;
  text-align: left;

  @media screen and (max-width:650px) {
    font-size: 14px;
  }
}

.review_form .field .control {
  width: 100%;
}


.review_form .field .starrating {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 10px 0px;
}

.review_form .field .starrating img {
  width: 14px;
  height: auto;
  cursor: pointer;
}

.review_form .field .input_text {
  width: 100%;
  border: 1px solid #ccc;
  height: 30px;
  padding: 5px;
}


.review_form .field .input_text_area {
  width: 100%;
  min-height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
  scrollbar-width: none;

  resize: none;
}

.field_wrapper {
  display: flex;
  gap: 10px;

  @media screen and (max-width:650px) {
    flex-direction: column;


  }
}

.review_form .fieldAction {
  margin: 5px 0;

}

.review_form .fieldAction .action_submit {
  background-color: unset;
  border: 1px solid #D4A902;
  ;
  color: #D4A902;
  width: auto;

  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 30px;

  @media screen and (max-width:650px) {
    width: 100%;
    padding: 8px 30px;
  }
}

.review_form .fieldAction .action_submit:hover {
  background-color: #D4A902;
  border: 1px solid #D4A902;
  ;
  color: #fff;
}

/* ------------Navbar-----------  */
.ReviewNavList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 14px;
  gap: 14px;

}

.ReviewNavItem {
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 33px;
  padding-bottom: 4px;
  /* margin-right: 14px; */
  text-transform: capitalize;

  @media screen and (max-width: 650px) {
    margin-right: 10px;
  }
}

.ActiveItem {
  font-weight: 700;
}

.ReviewActiveUnderline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #D4A902
}

/*============ ReviewListing =========== */
/* ----------- Review Cards ----------- */
.ReviewCard {
  background: white;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 14px;
  margin-bottom: 14px;
  width: 100%;
}

.ReviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.ReviewNickname {
  font-weight: bold;
  font-size: 18px;
  color: #333;

  @media screen and (max-width:1000px) {
    font-size: 16px;
  }
}

.ReviewRating {
  font-size: 16px;
  color: #666;
}

.ReviewSummary {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0;
  color: #222;

  @media screen and (max-width:1000px) {
    font-size: 18px;
  }
}

.ReviewDate {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.ReviewText {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  margin-bottom: 14px;

  @media screen and (max-width: 650px) {
    font-size: 12px;
    line-height: 1.4;
  }
}

.Breakdown {
  display: flex;
  gap: 5px;
}

.ReviewRatingsBreakdown {
  display: flex;
  gap: 14px;
}

.RatingItem {
  font-size: 14px;
  border-radius: 1px;
  display: flex;
  gap: 5px;
}

.Overall {

  text-decoration: none;
  font-size: 16px;
  padding-right: 5px;
  font-weight: 600;

  @media screen and (max-width: 650px) {
    font-size: 12px;
  }

}

.RatingLabel {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.RatingValue {
  color: #666;
}

.NoReviews {
  font-size: 18px;
  color: #666;
  text-align: center;
  padding: 14px;
}

/* Adjustments for responsiveness */
@media (max-width: 650px) {
  .ReviewCard {
    padding: 14px;
  }

  .ReviewHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .ReviewNickname {
    margin-bottom: 5px;
  }

  .ReviewRatingsBreakdown {
    flex-wrap: wrap;
  }
}

/* ----------------Review Main Container-----------------*/
.ReviewHeadingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReviewHeadingWrapper span {
  text-decoration: none;
  font-size: 14px;
  padding: 0px 5px 0px 30px;
  cursor: pointer;

}

.ReviewHeadingWrapper h4 {
  font-size: 16px;

}

.ReviewContainContainer {
  width: 100%;
  background: #f5f5f5;
  min-height: 417px;
  display: flex;
  justify-content: center;
  animation: fadeInSlideUp 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
  opacity: 0;
  /* Default hidden state */
  transform: translateY(14px)
}

.ReviewContainContainer.hidden {
  animation: fadeOutSlideDown 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

/* Animation for fading in and sliding up */
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(14px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation for fading out and sliding down */
@keyframes fadeOutSlideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(14px);
  }
}

.ReviewContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px
}

.ReviewContent label {
  font-size: 23px;
font-weight: 600;
  color: #4A4A4A;
  text-transform: uppercase;

}

.RatingStars {
  display: flex;
  gap: 5px;
  align-items: center;

}

.RatingStars img {
  height: 18px;
  width: 18px;

  @media screen and (max-width: 650px) {
    height: 12px;
    width: 12px;
  }
}

.ReviewDescription p {
  line-height: 29px;
  font-size: 14px;

  color: #000000;
  text-align: center;
  padding-bottom: 14px;
}

.reviewButton {
  padding: 14px 40px;
  background-color: unset;
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
border-radius: 6px;
  /* min-width: 412px; */
  min-height: 60px;
  cursor: pointer;
}

.reviewButton:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

.reviewButton:focus {
  background: #d6d5c9;
}

/* ===============Blank Review=============== */

.blankReviewContainer {
  padding-top: 60px;
  max-width: 93%;
  margin: auto;

  @media screen and (max-width: 650px) {
    padding-top: 10px;
    padding-bottom: 14px;
  }

  @media screen and (min-width: 650px) and (max-width: 1000px) {
    padding-top: 10px;
  }

}

.blankReviewContentContainer {
  width: 100%;
  background: #F4F3E7;
  min-height: 417px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 650px) {
    min-height: 200px;
    padding-bottom: 14px;
  }

}

.processContainer {
  display: flex;
  align-items: center;

}

.blankReviewContainer p {
  padding: 0 10px;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;

  @media screen and (max-width: 650px) {}
}

/* =============================================Releted Products ======================================== */
.relatedProductsContainer {
  padding: 60px 0;
  max-width: 93%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: 60px;
}

.title {
  font-size: 14px;

  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: center;

  @media screen and (max-width: 650px) {
    font-size: 16px;
  }
}

.contentName {
  font-size: 14px;
  color: #666;

}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.productsContainer {
  width: 100%;
  overflow: hidden;
}

.productsGrid {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.productItem {
  cursor: pointer;
  flex: 0 0 17%;
  box-sizing: border-box;

  text-align: center;

  border-radius: 5px;
  background-color: unset;
  margin: 0 10px;
}

.productItem h4 {
  font-size: 16px;
  color: #666;
  padding-bottom: 6px;
  text-align: center;

}

.productItem:hover h4 {
  color: #000;
}

.productItem a {
  text-decoration: none;

}

.productItem:hover .productName {
  color: #D4A902;
}

.productImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.productName {
  font-size: 16px;
  line-height: 22px;
  margin-top: 14px;
  color: #666;

}

.productPrice {
  font-weight: bold;

  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  color: #000;
}



.prevButton,
.nextButton {
  background: unset;
  border: none;
  padding: 1px 8px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  border-radius: 1px;
}

.nextButton img,
.prevButton img {
  width: 30px;
  height: 50px;
}

.checkmarkIcon img {
  width: 25px;
  height: auto;
  filter: invert();
}

.prevButton {
  position: absolute;
  left: 0;
  z-index: 1;
}

.nextButton {
  position: absolute;
  right: 0;
  z-index: 1;
}

.selectedFilter {
  margin-top: 10px;
  font-size: 16px;
  color: #000;
  text-transform: capitalize;
}

/* .selectedFilter b {
  color: #000;
 
} */


/*========================================= Discount Block Section ======================================= */

.dicountBlockContainer {
  min-width: 100%;
  min-height: 364px;
  background: #F4F3E7;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.dicountBlockContent {
  max-width: 743px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.dicountBlockContent p {
  line-height: 30px;
  font-size: 14px;

  font-weight: 400;
  text-align: center;

  color: #242424;
}

.dicountBlockContent h4 {
  font-size: 30px;
  font-weight: 900;
  line-height: 53px;
  font-family: #000000;

}

.dicountBlockContent button,
.dicountBlockContent a {
  background: unset;
  font-size: 14px;
  font-weight: 300;
  color: #D4A902;
  line-height: 34px;

  border: none;
  padding: 0px 40px;
  min-height: 22px;
  min-width: 140px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #D4A902;
  text-transform: uppercase;
}

.dicountBlockContent button:hover,
.dicountBlockContent a:hover {
  background: #D4A902;
  border: 1px solid #D4A902;
  color: #fff;
}

.mobileBlock {
  display: none;
}

.tooltipWrapper {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

.tooltipIcon {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  line-height: 1.2;
  text-align: center;
}

.tooltipContainer {
  visibility: hidden;
  opacity: 0;
  width: 300px;
  background-color: #fff;
  color: #000;
  text-align: left;
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  top: 130%;
  left: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tooltipWrapper:hover .tooltipContainer {
  visibility: visible;
  opacity: 1;
}

.tooltipContent {
  font-size: 14px;
  line-height: 1.5;
}

.tooltipTitle {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 4px;
}

.tooltipText {
  margin-bottom: 8px;
}

.AnticipatedDeliveryText {
  font-size: 10px;
  color: #a6a6a6;
}

.outOfStockText {
  font-size: 16px;
  color: #a29253;
  font-weight: bold;
  text-align: center;
  padding-top: 14px;
  line-height: 16px;
  padding-bottom: 10px;
  text-transform: uppercase;

  @media screen and (max-width:1000px) {
    text-align: start;
    font-size: 14px;
    padding-top: 0;
  }
}


.ShortDescriptionProductAttributes {
  font-size: 14px;
  color: #3a3a3a;
  line-height: 1.5;
  /* padding-bottom: 10px; */
}
.productDetailNewDescriptionContainer table {
 width: 100% !important;
 margin-top: 14px;
}
.productDetailNewDescriptionContainer {
  width: 60%;
  border-collapse: collapse; /* cleaner borders */
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 16px;
  text-align: left;

  @media screen and (max-width: 650px) {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }

  @media screen and (min-width: 650px) and (max-width: 1000px) {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
  }

}

.productDetailNewDescriptionContainer h2{
  line-height: 30px;
  font-size: 26px;
  margin-bottom: 0px;
  font-weight: 600;
  @media screen and (max-width:1000px) {
    font-size: 14px;
  }
}

.productDetailNewDescriptionContainer h3{
  line-height: 30px;
  font-size: 22px;
  margin-bottom: 0px;
  font-weight: 600;
  @media screen and (max-width:1000px) {
    font-size: 18px;
  }
}



.productDetailNewDescriptionContainer p{
  font-size: 14px;
  color: #333;
  @media screen and (max-width:1000px) {
    font-size: 12px;
  }
}

.productDetailNewDescriptionContainer h3{
  margin: 10px 0;
}
.productDetailNewDescriptionContainer th,
.productDetailNewDescriptionContainer td {
  border: 1px solid #ddd;
  padding: 12px 14px;
}

.productDetailNewDescriptionContainer th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.productDetailNewDescriptionContainer tr {
  transition: background-color 0.3s ease;
}

.productDetailNewDescriptionContainer tr:nth-child(even) {
  background-color: #fafafa; /* zebra striping */
}

.ShortDescriptionProductAttributes {
  font-size: 14px;
  line-height: 1.6;
  color: #333;

}

.ShortDescriptionProductAttributes b {
  text-transform: uppercase;
  color: #6f6f6f;
  margin-right: 8px;
}

.ShortDescriptionProductAttributes span {
  display: inline-block;
  /* background-color: #f5f5f5; */
  color: #333;
  /* padding: 2px 8px; */
  margin: 4px 6px 4px 0;
  border-radius: 4px;
  font-size: 13px;
  cursor: default;
  transition: all 0.2s ease-in-out;
}

.ShortDescriptionNavList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
margin-top: 50px;
  justify-content: flex-start;

}

.ShortDescriptionNavList li {
  padding: 10px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: -1px !important;
}

.ShortDescriptionNavList li img {
  margin-right: 5px;
}

.ShortDescriptionActiveTab {
  color: #000 !important;
  border: 1px solid #ccc !important;
  border-bottom: 1px solid #fff !important;
  background-color: #fff !important;
}
.productDetailNewDescriptionContainer ul {
  margin: 1rem 0;
  text-align: justify;
  padding-left: 1.5rem; /* space for bullets */

}

.productDetailNewDescriptionContainer ul li {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
    list-style-type: disc; /* default bullets */
}


/* ==============================Social media icons============================= */


.SharedSocialMediaIcons {
  display: flex;
  gap: 14px;
  padding: 14px 0;
  border-top: #bdbdbd 1px solid;

}

/* ===============================Static Reviews======================================== */

.StaticSliderWrapper {
  text-align: center;
  padding: 40px 14px;
  background: #fafafa;
  max-width: 1440px;
  margin: auto;
}

.StaticTitle {
  font-size: 1.5rem;
  color: #4A4A4A;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.StaticSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  flex-wrap: wrap;
}

.StaticArrow {
  font-size: 2rem;
  background: none;
  border: none;
  color: #c3a96d;
  cursor: pointer;
}

.ReadMoreButton {
  color: #c3a96d;
  cursor: pointer;
  text-transform: uppercase;
}

.StaticReviewCard {
  width: 700px;
  padding: 30px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.StaticStars {
  color: #c3a96d;
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.StaticReview {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 14px;
}

.StaticCustomer {
  font-weight: bold;
  color: #333;
}

.StaticReviewsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.StaticReviewCount {
  font-size: 32px;
}

.staticButtonWrapper {
  display: flex;
  gap: 14px;
}

.StaticArrow img {
  width: 14px;
  height: 30px;

}

/* =================== Responsive =================== */
@media screen and (max-width: 1024px) {
  .StaticReviewCard {
    width: 90%;
    padding: 25px;
  }

  .staticButtonWrapper {
    gap: 10px;
  }

  .StaticReviewCount {
    font-size: 28px;
  }

  .StaticTitle {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .staticButtonWrapper {

    gap: 5px;
  }

  .StaticSlider {
    flex-direction: column;
    gap: 30px;
  }

  .StaticReviewCard {
    width: 100%;
    padding: 14px;
  }

  .StaticArrow img {
    width: 14px !important;
    height: 14px !important;
  }

  .StaticReviewCount {
    font-size: 24px;
  }

  .StaticStars {
    font-size: 1rem;
    gap: 6px;
  }

  .StaticReview {
    font-size: 0.9rem;
  }

  .StaticTitle {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .StaticReviewCard {
    padding: 14px;
  }

  .StaticReviewCount {
    font-size: 14px;
  }

  .StaticTitle {
    font-size: 1.1rem;
  }

  .StaticStars {
    font-size: 0.9rem;
    flex-direction: column;
    align-items: center;
  }

  .StaticReviewsWrapper {
    align-items: center;
  }

  .StaticReview {
    font-size: 0.85rem;
  }

  .StaticCustomer {
    font-size: 0.9rem;
  }
}

/* =======================================================Related Brand======================================================  */
.relatedBrandsContainer {
  margin: 40px 0;
}

.relatedBrandsTitle {
  font-size: 14px;
  letter-spacing: 2px;
  color: #998243;
  margin-bottom: 14px;
}

.brandGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.brandCard {
  border: 1px solid #998243;
  padding: 40px 14px;
  text-align: center;
  font-family: 'Futura', sans-serif;
  color: #998243;
  font-size: 14px;
  letter-spacing: 2px;
  min-width: 200px;
  border-radius: 5px;
  flex: 1 1 200px;
  max-width: 220px;
}

/* ==================================================================Media Query============================================================= */

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .breadcrumb {
    font-size: 12px;
    margin: 14px 0;
  }

  .breadcrumb span {
    margin-left: unset;
  }


  .productImages,
  .productInfo {
    flex: 1;
    width: 100%;
  }

  .mainImage {
    width: 100%;
  }

  .thumbnailImages {
    justify-content: center;
  }

  .actionButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .addToCart,
  .buyNow {
    min-width: auto;
    width: 100%;
  }

  .additionalInfo {
    justify-content: space-around;
    gap: 10px;
  }

  .navBarSpace {
    height: 61px;
  }

  .ConfigurableWrapper {
    align-items: unset;
    flex-direction: column;
  }

  .navItem {
    padding: 10px 5px;
  }

  .productDetailDescriptionContainer {
    padding: 0 10px;
    padding-bottom: 10px;
  }

  .reviewButton {
    min-width: unset;
    min-height: unset;
    padding: 10px 14px;
  }

  .relatedProductsContainer {
    padding: 0 40px;
    padding-bottom: 40px;
  }

  .productItem {
    flex: 0 0 38%;
  }

  .dicountBlockContainer {
    padding: 0 10px;
    margin: 0;
    margin-top: 14px;
  }

  .detailContainer {
    width: 97%;
  }


  .productDetailDescriptionContainer h2 {
    font-size: 18px;
    padding-bottom: 5px;
  }

  .productDetailDescriptionContainer p {
    line-height: 22px;
    font-size: 14px;

  }

  .ReviewNavItem {
    font-size: 16px;
  }

  .ConfigurableSelectorWrapper {
    border-bottom: none;
    gap: 10px;
    padding-bottom: 0;
  }


  .priceTitleWrapper {
    flex-direction: column;
    gap: unset;
  }

  .quantityActionWrapper {
    flex-direction: column;
    align-items: unset;
  }

  .customQuantity {
    min-height: 2rem;
  }

  .quantityInput {
    width: 35px;
  }

  .decrementButton,
  .incrementButton {
    padding: 10px 10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .desktopBlock {
    display: none;
  }

  .mobileBlock {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .breadcrumb {
    font-size: 12px;
    margin: 10px 0;
  }

  .breadcrumb span {
    margin-left: unset;
  }



  .productImages,
  .productInfo {
    flex: 1;
    width: 100%;
  }

  .mainImage {
    width: 100%;
  }

  .thumbnailImages {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .thumbnailImages img {
    width: 50px;
    height: 50px;
  }



  .sku,
  .paymentInfo,
  .wishlist,
  .productFeatures li,
  .additionalInfo p {
    font-size: 12px;
  }

  .actionButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .addToCart,
  .buyNow {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    min-height: 2rem;
  }

  .ConfigurableSelectorWrapper {
    border-bottom: none;
    gap: 10px;
    padding-bottom: 0;
    padding-top: 14px;
  }


  .additionalInfo {
    justify-content: space-around;
    gap: 5px;
  }

  .infoBlock img {
    width: 30px;
    height: 30px;
  }

  .infoBlock p {
    font-size: 10px;
  }

  .quantitySelector select {
    max-width: 60px;
    font-size: 12px;
  }

  .sizeSelector button,
  .colorSelector button {
    width: 35px;
    height: 35px;
  }

  .sizeSelector label,
  .colorSelector label,
  .quantitySelector label {
    font-size: 12px;
  }

  .wishlist_container img {
    width: 14px;
    height: 14px;
  }

  .wishlist {
    font-size: 12px;
  }

  .navBarSpace {
    height: 62px;
  }

  .ConfigurableWrapper {
    align-items: unset;
    flex-direction: column;
  }

  .navbarContainer {
    margin: auto;
    margin-bottom: 14px;
  }

  .navItem {
    padding: 10px 0px;
  }

  .productDetailDescriptionContainer {
    padding: 10px 0px;


  }

  .reviewButton {
    min-width: unset;
    min-height: unset;
    padding: 10px 14px;
  }

  .ReviewContainer {
    padding: 0 10px;
    padding-bottom: 14px;
  }

  .relatedProductsContainer {
    padding: 0 14px;
    padding-bottom: 14px;
  }

  .productItem {
    flex: 0 0 38%;
  }

  .dicountBlockContainer {
    padding: 0 10px;
    margin: 0;
  }

  .detailContainer {
    width: 100%;
    padding: 0 10px;

  }

  .productDetail {
    padding: 0px;
  }

  .productDetailDescriptionContainer h2 {
    font-size: 18px;
    padding-bottom: 5px;
  }

  .dicountBlockContent h4 {
    font-size: 14px;
  }

  .dicountBlockContent p {
    font-size: 12px;
    line-height: 22px;
  }

  .dicountBlockContent {
    gap: 5px;
  }

  .dicountBlockContainer button {
    min-width: 100px;
    font-size: 12px;
    padding: 0 30px;
    min-height: 18px;
    line-height: 28px;
  }

  .ReviewNavItem {
    font-size: 18px;
  }

  .ReviewContent h4 {
    font-size: 16px;
  }

  .ReviewDescription p {
    line-height: 25px;
  }

  .reviewButton {
    font-size: 12px;
  }

  .relatedProductsContainer h2 {
    font-size: 18px;
  }

  .ConfigurableWrapper button {
    font-size: 12px;
    height: 2.5rem;
  }

  .ConfigurableWrapper label {
    font-size: 14px;
  }

  .productName {
    font-size: 14px;
    line-height: 14px;
    margin-top: 5px;

  }

  .productPrice {
    font-size: 14px;
    line-height: 14px;
  }

  .priceTitleWrapper {
    flex-direction: column;
    gap: unset;
  }

  .quantityActionWrapper {
    flex-direction: column;
    align-items: unset;
  }

  .customQuantity {
    min-height: 2rem;
  }

  .quantityInput {
    width: 35px;
    height: 30px;
    font-size: 12px;
  }

  .decrementButton,
  .incrementButton {
    padding: 10px 10px;
    font-size: 10px;
    height: 30px;
    width: 30px;
  }

  /* =================Related Product================  */
  .collectionHeroContent h2 {
    font-size: 18px;
  }

  .white_background {
    display: none;
  }

  .descr p {
    font-size: 16px;
    padding: 0 10px;
  }

  .breadCrumbs {
    padding: 10px 5px;
  }

  .breadCrumbs li {
    font-size: 14px;
  }


  .listingWrapper {
    padding: 0 10px;
  }

  .wrapperPushItem {
    width: 100%;
    min-height: 350px;
  }

  .shopButton {
    padding: 5px 7px;
    width: 50%;
  }

  .collectionHeader h2 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 14px;
  }

  .collectionHeader hr {
    display: none;
  }

  .collectionHeroContent {
    margin: unset;
  }

  .productItem {
    flex: 0 0 50%;
    /* One item per row */
    margin: 0 auto;
  }

  .productName {
    font-size: 11px;
    line-height: 14px;
  }

  .productPrice {
    font-size: 12px;
  }

  .nextButton img,
  .prevButton img {
    width: 14px;
  }

  .relatedProductsContainer {

    padding: 0px 0px 30px 0px;
  }

  .contentName {
    font-size: 10px;
  }

  .productItem h4 {
    font-size: 12px;
  }

  .slider {
    width: 320px;
  }
}